@font-face {
    font-family: 'Lexend-Regular';
    src: url('../font/lexend/Lexend-Regular.woff2') format('woff2'),
        url('../font/lexend/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend-Bold';
    src: url('../font/lexend/Lexend-Bold.woff2') format('woff2'),
        url('../font/lexend/Lexend-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend-Medium';
    src: url('../font/lexend/Lexend-Medium.woff2') format('woff2'),
        url('../font/lexend/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../font/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'icomoon';
	src: url('../font/icomoon/icomoon.eot?pyg1kv');
	src: url('../font/icomoon/icomoon.eot?pyg1kv#iefix') format('embedded-opentype'),
		url('../font/icomoon/icomoon.ttf?pyg1kv') format('truetype'),
		url('../font/icomoon/icomoon.woff?pyg1kv') format('woff'),
		url('../font/icomoon/icomoon.svg?pyg1kv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}