* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

:focus {
    outline: none;
}

:disabled {
    background-color: transparent;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: 0 !important;
}

button {
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul {
    margin-bottom: 0;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    &:hover {
        text-decoration: none;
    }
}