// colors
$black: #303030;
$softblack: #6a6a6a;
$gray: #C0C0C0;
$silver: #D5D5D5;
$light: #F8F8F8;
$white: #FFFFFF;
$blue: #3347B0;
$cyan: #0DE3D6;
$red: #DB1F48;
$orange: #FB5607;

// fonts
$lr: Lexend-Regular;
$lm: Lexend-Medium;
$lb: Lexend-Bold;
$mr: Montserrat-Regular;
$mm: Montserrat-Medium;
$mb: Montserrat-Bold;