[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e90b";
}

.icon-instagram:before {
    content: "\e90c";
}

.icon-linkedin:before {
    content: "\e90d";
}

.icon-skype:before {
    content: "\e90e";
}

.icon-twitter:before {
    content: "\e90f";
}

.icon-profile:before {
    content: "\e909";
}

.icon-menu:before {
    content: "\e90a";
}

.icon-airplane:before {
    content: "\e900";
}

.icon-calendar:before {
    content: "\e901";
}

.icon-category:before {
    content: "\e902";
}

.icon-chevron:before {
    content: "\e903";
}

.icon-dollar:before {
    content: "\e904";
}

.icon-google:before {
    content: "\e905";
}

.icon-star-line:before {
    content: "\e906";
}

.icon-star:before {
    content: "\e907";
}

.icon-tick:before {
    content: "\e908";
}